@using ActiveEdge.Infrastructure.Caching
<div class="footer">
    <div class="pull-right">
        v @SoftwareVersion.Number()
    </div>
    <div>
        <strong>Copyright</strong> Active Edge &copy; 2016
    </div>
</div>
