@model Enum

<div class="form-group">
  @{ var isFieldRequired = ViewData.ModelMetadata.IsRequired; }


  @Html.LabelFor(model => model)
  @if (isFieldRequired)
  {
    <span>*</span>
  }

  @(isFieldRequired ? Html.EnumDropDownListFor(model => model, "Please Select", new Dictionary<string, object> {{"class", "form-control required"}})
      : @Html.EnumDropDownListFor(model => model, "Please Select", new Dictionary<string, object> {{"class", "form-control"}}))
</div>