@using ActiveEdge.Infrastructure.Extensions
@using ActiveEdge.Infrastructure.MVC
@model string

@{ var isFieldRequired = ViewData.ModelMetadata.IsRequired; }

<div class="form-group @(isFieldRequired ? "required" : null)">
  @Html.LabelFor(model => model, new {@class = "control-label col-md-2"})


  <div class="col-md-6">
    @Html.TextBoxFor(model => model, ViewData.GetDefaultEditorAttributes())
    @Html.ValidationMessageFor(m => m)
  </div>


</div>