@using ActiveEdge.Infrastructure.MVC
@model string


<div class="form-group">
  @{ var isFieldRequired = ViewData.ModelMetadata.IsRequired; }
  @Html.LabelFor(model => model, new {@class = "control-label col-md-2"})
  @if (isFieldRequired)
  {
    <span class="pull-left">*</span>
  }


  <div class="col-md-6">
    @Html.TextBoxFor(model => model, ViewData.OptionalAttributes(new Dictionary<string, object> {{"class", "form-control"}}))
    @Html.ValidationMessageFor(m => m)
  </div>


</div>